body {
}
/* In wwwroot/css/app.css or Components/Pages/Counter.razor.css */

.win-toss {
    color: green;
    /* Optional: make it bold for emphasis */
    font-weight: bold;
}

.lost-toss {
    color: red;
}
.draw-toss {
    color: orange;
}
/* You can add more styles as needed */
